h3{
    margin-bottom: 10px;
    font-size: 16px;
} 
.informayin__details h2{
    font-size: 20px;
    color: rgba(142, 142, 147, 1);
    margin-bottom: 30px;
}
.coverDetails{
    display: flex;
    justify-content: left;
    gap: 30%;
    padding: 20px 0;
}
.coverDetails img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
}
.coverDetails__content{
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto';
}
.informayin__details{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Roboto';
}
.informayin__details-box{
    width: 413px;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.884);
}
.informayin__details-box p{
    margin-bottom: 5px;
    color: rgba(110, 121, 140, 1);
}
