.epis{
    width: 500px;
}
.episode__content{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}
.episode{
    text-align: center;
}
.episode button {
    margin-bottom: 97px;
}